---
interface Props {
  compact?: boolean;
}

const { compact = false } = Astro.props;
---

<span class:list={['brand-lockup', { compact }]}>
  <img src="/brand/open-e2ee-shield-adaptive-small.svg" alt="" width="32" height="37" />
  <span>OpenE2EE</span>
</span>
